<form class="edit-form" action="<%= "/memos/#{memo_hash[:uuid]}" %>" method="post">
  <textarea name="memo_contents" rows="10" cols="40">
<%= memo_hash[:title] %><%= memo_hash[:content] %></textarea><br>
  <input type="hidden" name="_method" value="PATCH">
  <input class="edit-form__change-btn" type="submit" value="変更">
  <a class="edit-form__back-btn" href="<%= "/memos/#{memo_hash[:uuid]}" %>">戻る</a>
</form>
