<form class="new_form" action="/memos" method="post">
  <textarea name="memo_contents" rows="10" cols="40"></textarea><br>
  <input class="save_submit_btn" type="submit" value="保存">
  <a class="back_btn new_form_back_btn" href="/memos">戻る</a>
</form>
