<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/memo.css">
    <title></title>
  </head>

  <body>
    <header class="header">
      <h1 class="header__title">メモアプリ</h1>
    </header>
    <div class="msg error-msg">
      <%= @error_msg unless @error_msg.empty? %>
    </div>
    <%= yield %>
  </body>
</html>
