/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
/* formのときに青い線を出さなくする 外したり付けたりしてどうなるか見てみよう */
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
/* ここにCSSを書いてデザインを入れよう */
body {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

/* layout.erb */
.error-msg {
  color: red;
}

.header__title {
  font-size: 30px;
  margin-top: 20px;
}

/* index.erb */
.main__memos {
  list-style-type: disc;
  margin: 20px;
}

.main__memo {
  margin: 10px;
}

.main__add-btn {
  position: relative;
  display: inline-block;
  width: 8%;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: #26C6DA;
  border-bottom: 2px solid #00838F;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

/* new.erb */
.new-form {
  margin: 20px 0;
}

.new-form__back-btn, .new-form__save-btn {
  position: relative;
	display: inline-block;
  width: 8%;
	padding: 11px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.new-form__save-btn {
  width: 10%;
  height: 41px;
  padding-top: 7px;
  font-size: 16px;
}

/* edit.erb */
.edit-form {
  margin: 20px 0;
}

.edit-form__back-btn, .edit-form__change-btn {
  position: relative;
	display: inline-block;
  width: 8%;
	padding: 11px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.edit-form__change-btn {
  width: 10%;
  height: 41px;
  padding-top: 7px;
  font-size: 16px;
}

/* show.erb */
.memo {
  margin: 20px 0;
}

.show-form__change-btn, .show-form__delete-btn, .show-form__top-btn {
  position: relative;
  display: inline-block;
  width: 8%;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: #26C6DA;
  border-bottom: 2px solid #00838F;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.show-form__delete-btn {
  width: 10%;
  height: 41px;
  padding-top: 7px;
  font-size: 16px;
}
